* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #946969;
}
.top-nav {
    width: 100%;
    height: 50px;
    background-color: #F7AEA3;
    display: flex;
}
.logo {
    width: 10%;
}
.mobile-logo {
    display: none;
}
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
}
.link {
    font-size: 25px;
    text-decoration: none;
    color: #4D2A2A;
    font-weight: 700;
    font-style: italic;
}
.first-pt{
    display: flex;
    justify-content: center;
    margin-top: 125px;
}
.left{
    width: 35%;
}
.news-girl img{
    width: 95%;
}
.left-header {
    margin: 0px 0px 125px -125px;
    width: 70%;
    font-family: Roboto Flex;
    font-style: italic;
    font-weight: 800;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 25px 35px 4px rgba(0, 0, 0, 0.25);
}
.right {
    display: flex;
    align-items: flex-start;
    width: 35%;
}
.paragraph {
    font-family: Roboto flex;
    border: 2px solid black;
    background-color: #FFFFFF;
    font-size:25px;
    padding: 25px;
    text-align: center;
}
#second-pt {
    margin:  125px;
    display: flex;
    justify-content: center;
}
.bot-left {
    width: 50%;
}
.bot-right {
    display: flex;
    width: 40%;
    align-items: flex-end;
}
.map img{
    width:95%;
    border: 5px solid black;
}
.girl-with-sign img {
    height: 250px;
}
.girl-with-sign{
    margin-top: 125px;
    display: flex;
    justify-content: center;
}
.list {
    font-family: Roboto flex;
    border: 2px solid black;
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}
.bottom-nav {
    width: 100%;
    height: 50px;
    background-color: #F7AEA3;
    display: flex;
    margin-top: 60px;
}
@keyframes enlarge {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}
.paragraph:hover {
    animation: enlarge 0.5s forwards;
}

.list:hover {
    animation: enlarge 0.5s forwards;
}

@media(max-width: 495px) {
    
   
    
    /*.news-girl img {*/
    /*    width: 90%;*/
    /*    display: block;*/
    /*    margin: auto;*/
    /*    height: 300px;*/
        
    /*}*/

    /*.header {*/
    /*    font-family: Roboto Flex;*/
    /*    font-style: italic;*/
    /*    font-weight: 800;*/
    /*    font-size: 50px;*/
    /*    line-height: 39px;*/
    /*    color: #FFFFFF;*/
    /*    text-shadow: 25px 35px 4px rgba(0, 0, 0, 0.25);*/
    /*    text-align: center;*/

    /*}*/

    /*.paragraph {*/

    /*    font-family: Roboto flex;*/
    /*    border: 2px solid black;*/
    /*    padding: 8px;*/
    /*    background-color: #FFFFFF;*/
    /*    height: auto;*/
    /*    font-size: 15px;*/
    /*    margin-top: 20px;*/
    /*}*/

    /*.list {*/
    /*    font-family: Roboto flex;*/
    /*    border: 2px solid black;*/
    /*    padding: 4px;*/
    /*    background-color: #FFFFFF;*/
    /*    height: auto;*/
    /*    font-size: 12px;*/
    /*    text-align: center;*/
    /*    margin-top: 20px;*/
    /*}*/


    /*.map img {*/
    /*    width: 100%;*/
    /*    height: 300px;*/
    /*    display: block;*/
    /*    margin: 0 auto;*/
    /*    margin-top: 20px;*/
    /*}*/

    /*.girl-with-sign img {*/
    /*    display: block;*/
    /*    margin: 0 auto;*/
    /*    margin-top: 20px;*/
    /*}*/

    /*.logo {*/
    /*    display: none;*/
    /*}*/

    /*.mobile-logo {*/
    /*    display: block;*/
    /*    width: 10%;*/
    /*}*/

    /*.top-nav {*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*}*/

    /*.nav-bar {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: space-evenly;*/
    /*}*/

   main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   }
   
   .first-pt{
    flex-direction:column;
    width:90%;
    align-items:center;
    justify-content:center;
   }
   
   #second-pt{
   flex-direction:column; 
   width:90%;
   align-items:center;
   justify-content:center;
   }
   
   .left-header{
       text-align: center;
       font-size: 50px;
        line-height: 39px;
   }
  
  .paragraph{
      width:300%;
      padding: 8px;
      font-size:15px;
  }
  


}

