* {
    margin: 0;
    padding: 0;
    background-color: #F7AEA3;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.logo {
    width: 5%;
}


.nav-bar {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

/*.dropdown {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

h1 {
 text-align: center;   
}

.Support {
    padding-top: 22px;
}

.top-left {
    padding: 20px 50px 20px 20px;
}

div form{
    padding: 13px;
    display: flex;
    flex-direction: column;
}

label {
    padding-right: 20px;
}

input {
    width: 120%;
    padding: 3px;
}

#message{
    padding-bottom: 95px;
}

.sideways {
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
}

.top-right {
 padding: 20px 20px;  ;   
}

.donate {padding: 13px;
    display: flex;
    flex-direction: column;
    
}

button {
    padding: 10px;
    width: 80px;
    margin: auto ;
}


/*.Resources {*/
/*    text-align: center;*/
/*}*/
.sideways2 {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
}

/*.Insurance {*/
/*    padding: 20px 175px;*/
/*}*/

/*.Plancdiv {*/
/*     padding: 20px 175px;*/
/*}*/

/*ul {*/
/*    padding: 0px 10px;*/
/*}*/

/*li {*/
/*    padding: 10px 5px;*/
/*}*/





@media (max-width: 495px) {
    .sideways {
        display: flex;
        flex-direction: column;
    }
    
    .input{
        max-width: 76%;
    }
    
    p {
        text-align: center;
    }
    
    .sideways2 {
        flex-direction: column;
    }
}
