* {
    margin: 0;
    padding: 0;
    background-color: #F7AEA3;
   font-family: Roboto Flex;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.logo {
    width: 5%;
}


.nav-bar {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

h1 {
 text-align: center;   
}

.Support {
    padding-top: 22px;
}

.top-left {
    padding: 20px 50px 20px 20px;
}

div form{
    padding: 13px;
    display: flex;
    flex-direction: column;
}

label {
    padding-right: 20px;
}

input {
    width: 120%;
    padding: 3px;
    background-color: #E0D5D5;
}

#message{
    padding-bottom: 95px;
}

.sideways {
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
}

.top-right {
 padding: 20px 20px;  ;   
}

.donate {padding: 13px;
    display: flex;
    flex-direction: column;
    
}

button {
    padding: 10px;
    width: 140px;
    margin: auto ;
    background-color: #E0D5D5;
}

#donate {
    background-color: #67eb34;
}

.sideways2 {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
}

ul {
    padding: 17px 10px;
    text-decoration: none;
}

li {
    padding: 17px 5px;
    list-style-type: none;
    text-align: center;
}

a {
    text-decoration: none;
   
}


@media (max-width: 495px) {
    .sideways {
        display: flex;
        flex-direction: column;
    }
    
    .input{
        max-width: 76%;
    }
    
    p {
        text-align: center;
    }
    
    .sideways2 {
        flex-direction: column;
    }
}
